<!DOCTYPE html>
    <head>
        <title>Cache Smash</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Varnish & Akamai Invalidation</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('main') }}">
                  <label for="url">URL to clear:</label>
                  <input type="text" name="url" /><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
 